
@font-face {
  font-family: 'Manrope';
  src: url('../src/fonts/Manrope/Manrope-Bold.ttf') format('ttf'),
    url('../src/fonts/Manrope/Manrope-ExtraBold.ttf') format('ttf'),
    url('../src/fonts/Manrope/Manrope-Light.ttf') format('ttf'),
    url('../src/fonts/Manrope/Manrope-Medium.ttf') format('ttf'),
    url('../src/fonts/Manrope/Manrope-Regular.ttf') format('ttf'),
    url('../src/fonts/Manrope/Manrope-SemiBold.ttf') format('ttf')
  }

body {
  margin: 0;
  font-family: "Manrope", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.modal-open {
  overflow: hidden;
}

